/* css for all pages */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

/* scroll bar */

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}
   

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 255, 0.418); 
    border-radius: 2px;
}
  

::-webkit-scrollbar-thumb:hover {
    background: blue; 
}

::-webkit-scrollbar-corner{
    display: none;
}

body{
    display: flex;
    flex-direction: row;
}

.side_bar{
    background-color: rgb(245, 245, 245);
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
}

.side_bar_links{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    padding-top: 30px;
}

.side_bar_links a{
    writing-mode: vertical-lr;
    text-decoration: none;
    transform: rotate(180deg);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color: transparent;
    color: black;
}

a.fa-facebook{
    transform: rotate(-90deg);
}

a.fa-instagram{
    transform: rotate(-90deg);
}

a.fa-vk{
    transform: rotate(-90deg);
}

/* menu button */
.hamburger_button_class{
    padding: 25px 0px 25px 0px;
    width: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background-color: transparent;
}

.hamburger_button{
    width: 60%;
    height: 4px;
    background: black;
    border-radius: 5px;
    transition: all .2s ease-out;
}

.hamburger_button::before,
.hamburger_button::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 4px;
  background: black;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.hamburger_button::before {
    transform: translateY(-16px);
    width: 60%;
}
.hamburger_button::after {
    transform: translateY(16px);
    width: 60%;
}

.hamburger_button_class.open .hamburger_button {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.hamburger_button_class.open .hamburger_button::before {
    transform: rotate(45deg) translate(38px, -38px);
}
.hamburger_button_class.open .hamburger_button::after {
    transform: rotate(-45deg) translate(38px, 38px);
}

/* pop up menu */

.pop_up_overlay{
    position: fixed;
    margin-left: 60px;
    margin-top: 95px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: left;
    z-index: -3;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.pop_up_overlay_content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 15%;
    margin-right: 5%;
    flex-direction: column;
    justify-content: center;
}

.pop_up_overlay_content a{
    text-decoration: none;
    color: white;
    width: 60%;
    font-size: 22px;
    padding: 10px 15px;
}

.pop_up_overlay_content a:hover{
    background-color: rgba(255, 255, 255, 0.116);
    color: peachpuff;
    border-radius: 5px;
    transition: 0.3s;
}


.pop_up_menu{
    position: fixed;
    margin-top: 95px;
    width: 50%;
    height: 100%;
    z-index: -2;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.pop_up_menu_content{
    background-color: rgba(255, 255, 255, 0.95);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-in;
}

.pop_up_menu_content h2{
    text-decoration: none;
    color: black;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 60px;
}

.pop_up_menu_content a{
    text-decoration: none;
    color: black;
    background-color: transparent;
    font-size: 24px;
    padding: 12px 50px;
    width: 40%;
    text-align: center;
    margin-right: 60px;
}

.pop_up_menu_content a:hover{
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 5px;
    transition: 0.3s;
}

.rest_page{
    margin-left: 60px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    height: 95px;
    position: sticky;
    top: 0;
    z-index: 5;
    border-bottom: 2px solid rgba(225, 183, 255, 0.52);
}


.header div{
    margin-top: auto;
    margin-bottom: auto;
}

.header_links{
    margin-right: 15%;
    margin-left: 15%;
    width: 50%;
    text-align: center;
}

.header_links a{
    text-decoration: none;
    font-size: 30px;
    margin: 0px 50px;
    padding: 0px 15px;
}

.header_links a:hover{
    background-color: rgb(255, 212, 212);
    padding: 20px 15px;
    border-radius: 5px;
}


.credits{
    position: static;
    bottom: 0;
    background-color: black;
    color: lightgoldenrodyellow;
    width: 100%;
    text-align: center;
    margin-top: 200px;
}

/* css for all pages  END*/

/* css for HOME PAGE */

.fade_image{
    margin-left: -2px;
    background-image: url("/images/fade_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.introduction{
    margin-top: 25%;
    width: 40%;
    margin-left: 10%;
    margin-right: auto;
    border-radius: 5;
}

.introduction h1{
    font-weight: 200;
    font-size: 40px;
    color: black;
    margin-bottom: 15px;
}

.introduction p{
    color: black;
}

.three_options{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.three_options div{
    width: 34%;
    height: 350px;
    background-color: white;
}

.three_options h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.three_options p{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.three_options a{
    text-decoration: none;
}

.campus_info{
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    background-color: rgb(220, 232, 255);
}

.campus_info_text{
    width: 45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.campus_info_text h2{
    text-align: center;
    margin-top: 30%;
}

.campus_info_text h6{
    margin-bottom: 30px;
}

.campus_info_text p{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.campus_info_image{
    width: 55%;
    text-align: left;
}

.campus_info_image img{
    margin-left: 20px;
    margin-top: 20%;
    width: 80%;
    border-radius: 5px;
}

.helpful_links{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.helpful_links_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.helpful_links_row1{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.helpful_links_row2{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.helpful_links_row1 div{
    width: 34%;
    display: flex;
    flex-direction: column;
    background-color: white;
    cursor: pointer;
}

.helpful_links_row2 div{
    width: 25%;
    background-color: white;
    cursor: pointer;
}

.helpful_link1{
    display: flex;
    flex-direction: column;
    height: 400px;
}

.helpful_link2{
    display: flex;
    flex-direction: column;
    height: 350px;
}

.helpful_link1 img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 20px;
    width: 35%;
}

.helpful_link1 a{
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.helpful_link2 img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 20px;
    width: 35%;
}

.helpful_link2 a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.helpful_links_after{
    width: 100%;
    height: 300px;
    background-color: white;
}

.space_before_home_box{
    height: 100px;
    width: 100%;
    background-color: white;
}

.space_after_home_box{
    height: 100px;
    width: 100%;
    background-color: white;
}

.home_section_inside{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.home_section_inside div{
    cursor: pointer;
    position: relative;
    transition: 1s;
}

.home_section_inside div img{
    width: 100%;
    height: 100%;
}

.home_box_additional_info{
    display: none;
}



#home_box2,#home_box3,#home_box4:hover{
    cursor: url("/images/pointer.png"), auto;
}

.home_box_additional_info1{
    display: none;
}

#home_box2{
    grid-area: 1 / 1 / 2 / 2;
    background-image: url("/images/fire.png");
    background-size: cover;
    background-position-x: center;
}


#home_box3{
    grid-area: 1 / 2 / 2 / 3;
    background-image: url("/images/mask_home_box.png");
    background-size: cover;
    background-position-x: center;
}

.home_box_additional_info3{
    display: none;
}

#home_box4{
    grid-area: 1 / 3 / 2 / 4;
    background-image: url("/images/emergency.png");
    background-size: cover;
    background-position-x: center;
}

.home_box_additional_info4{
    display: none;
}

.home_open_hover{
    position: relative;
    opacity: 0;
    width: 0%;
    background-color: white;
}

.university_info_banner{
    background-image: url("/images/university_banner.png");
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.university_info{
    width: 100%;
}

.university_info_content{
    background-color: rgb(40, 40, 150);
    display: flex;
    flex-direction: row;
}

.university_info_video{
    width: 40%;
}

.university_info_video p{
    color: white;
    margin-left: 100px;
    margin-top: 50px;
    font-weight: 100;
}

.university_info_video iframe{
    color: white;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.university_links{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 150px;
}

.university_links a{
    border-radius: 2px;
    font-size: 22px;
    text-decoration: none;
    color: black;
    background-color: gold;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.university_links a:hover{
    background-color: rgb(255, 245, 185);
    transition: all 0.2s ease-in-out;
}

.quality_check{
    display: flex;
    flex-direction: row;
    background-color: #22456B;
    width: 100%;
    height: 800px;
    margin-bottom: 50px;
}

.quality_check_video{
    width: 60%;
    background-color: #FDC830;
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.quality_check_video iframe{
    border-radius: 5px;
    width: 90%;
    margin-left: 35px;
}

.quality_check_video h3{
    margin-top: 80px;
    margin-left: 35px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}

.quality_check_text h3{
    color: #FDC830;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35%;
    width: 60%;
}

.quality_check_text p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20px;
    color: white;
}


/* css for HOME PAGE END*/

/* css for Overlay 1*/

.fade_image_overlayOne{
    margin-left: -2px;
    background-image: url("/images/fade_image_overlayOne.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.overlay_main_container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

section.overlay_section{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: rgb(245, 245, 245);
    padding: 50px 0px 50px 0px;
}

.overlay_section h4{
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.adres{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: auto;
}

.adres div{
    display: flex;
    flex-direction: column;
}

.adres_left{
    width: 15%;
    text-align: left;
}

.adres_bottom{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.adres_bottom p{
    margin-bottom: 10px;
}

.section_text{
    text-align: left; 
    width: 80%; 
    margin-left: 10%; 
    margin-top: 20px;
}

.section_text p{
    margin-bottom: 10px;
}

.section_text img{
    width: 50%;
    height: auto;
    margin-top: 30px;
    border-radius: 5px;
}

/* css for Overlay 2*/

.fade_image_overlayTwo{
    margin-left: -2px;
    background-image: url("/images/fade_image_overlayTwo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.downloadButton{
    width: 150px;
    height: 50px;
    background-color: white;
    padding-top: 15px;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a.downloadButton{
    display: block;
    padding: 12px 8px;
    text-decoration: none;
    color: black;
}


/* css overlay 3 */

.fade_image_overlayThree{
    margin-left: -2px;
    background-image: url("/images/fade_image_overlayThree.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.documents_main_download{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.documents_main_download div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
    padding: 30px 0px;
}

.documents_main_download div h3{
    margin-top: 15px;
}

.documents_main_download div img{
    width: 100px;
}

table.download_table{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

tr.download_row{
    border: 1px solid black;
}

td.download_text{
    background-color: rgb(212, 212, 212);
    padding-left: 20px;
    cursor: pointer;
}

td.download_text:hover{
    background-color: rgb(231, 231, 231);
}

td.download_logo:hover{
    background-color: rgb(253, 206, 206);
    cursor: pointer;
}

td.download_logo img{
    margin: 5px
}

p.download_title{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* css overlay 4 */

.fade_image_overlayFour{
    margin-left: -2px;
    background-image: url("/images/fade_image_overlayFour.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.table_sport_programs{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.table_sport_programs th{
    padding-bottom: 30px;
    font-size: 24px;
}

.table_sport_programs tr{
    height: 100px;
}

.table_sport_programs_col1{
    background-color: white;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
}

.table_sport_programs_col2{
    background-color: white;
    width: 20%;
    text-align: center;
    padding: 0px 20px;
    cursor: pointer;
}

.table_sport_programs_col2:hover{
    background-color: rgb(209, 209, 209);
    transition: all 0.2s;
}

.table_sport_programs_col2 a{
    text-decoration: none;
    color: black;
}

/* css overlay 5 */

.fade_image_overlayFive{
    margin-left: -2px;
    background-image: url("/images/fade_image_overlayFive.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.guidelines_link_overlay5{
    width: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding: 10px 16px;
    cursor: pointer;
}

.guidelines_link_overlay5:hover{
    background-color: rgb(253, 173, 173);
    border-radius: 5px;
    transition: all 0.4s ease-in;
}

.guidelines_link_overlay5 a{
    text-decoration: none;
    color: black;
}

/* css overlay 6 */

.fade_image_overlaySix{
    margin-left: -2px;
    background-image: url("/images/fade_image_overlaySix.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.directors_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.director{
    width: 33%;
    display: flex;
    flex-direction: column;
}

.director img{
    width: 60%;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    margin-bottom: 20px;
}

.director p{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-weight: 550;
}

table.teachers_table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    position: relative;
}

table.teachers_table th{
    padding-bottom: 40px;
}

.teachers_table_row1{
    font-weight: 600;
}

.teachers_table_row1 td{
    padding: 5px 10px;
    min-width: 50px;
    background-color: rgb(255, 233, 233);
}

.teachers_table_otherRows td{
    padding: 10px 10px;
    background-color: white;
    cursor: pointer;
}

.teachers_table_otherRows td:hover{
    background-color: rgb(202, 202, 202);
    transition: 0.4s;
}

/* css overlay 7 */

.fade_image_overlaySeven{
    margin-left: -2px;
    background-image: url("/images/fade_image_overlaySeven.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.infrastructure_list {
    margin-bottom: 40px;
}

.infrastructure_list li{
    list-style: disc;
    margin-left: 10%;
}

/* css overlay 8 */

.fade_image_overlayEight{
    margin-left: -2px;
    background-image: url("/images/fade_image_overlayEight.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

/* css overlay 9 */

.fade_image_overlayNine{
    margin-left: -2px;
    background-image: url("/images/fade_image_overlayNine.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

/* css overlay 10 */

.fade_image_overlayTen{
    margin-left: -2px;
    background-image: url("/images/fade_image_overlayTen.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

/* css overlay 11 */

.fade_image_overlayEleven{
    margin-left: -2px;
    background-image: url("/images/fade_image_overlayEleven.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

table.finance_report_table{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.finance_report_col1{
    background-color: rgb(226, 226, 226);
    padding-left: 20px;
    cursor: pointer;
}

.finance_report_col1:hover{
    background-color: rgb(197, 197, 197);
}

.finance_report_col2 img{
    width: auto;
    height: 100%;
}

/* css overlay 12 */

.fade_image_overlayTwelve{
    margin-left: -2px;
    background-image: url("/images/fade_image_overlayTwelve.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

/* css overlay 13 */

.fade_image_overlayThirteen{
    margin-left: -2px;
    background-image: url("/images/fade_image_overlayThirteen.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

/* OVERLAY END */


/* Page 1 css */

.fade_image_pageOne{
    margin-left: -2px;
    background-image: url("/images/fade_image_page1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

section.page_section{
    width: 70%;
    margin: 50px auto;
    background-color: rgb(245, 245, 245);
    padding: 50px 0px 50px 0px;
}

#section_header{
    text-align: center;
    font-size: 22px;
}

#section_description{
    font-size: 14px;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.legend_container{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.legend_container img{
    width: 40%;
    margin: 50px;

}

.legend_text{
    margin-top: 50px;
}

.legend_text h5{
    font-size: 18px;
    margin-bottom: 15px;
}

.building_history_container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.building_history_container img{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.building_history_container div{
    display: flex;
    flex-direction: row;
}

/* css page 2 */

.fade_image_pageTwo{
    margin-left: -2px;
    background-image: url("/images/fade_image_page2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.staff_container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.staff_container h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}

.staff_row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.staff_card{
    max-height: 500px;
    width: 26%;
    margin-left: auto;
    margin-right: auto;
}

.staff_img img{
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    border-radius: 1px;
}

.staff_content_show{
    padding: 10px 0px;
    color: black;
    height: 100px;
    border-bottom: 2px solid black;
}

.staff_content_show h4{
    text-align: left;
    font-weight: 700;
}

.staff_content_show p{
    text-align: left;
    font-size: 12px;
    margin-top: 10px;
}

/* css page 3 */

.fade_image_pageThree{
    margin-left: -2px;
    background-image: url("/images/fade_image_page3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}


/* css page 4 */

.fade_image_pageFour{
    margin-left: -2px;
    background-image: url("/images/fade_image_page4.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.page4_time_schedules{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
    margin-top: 200px;
}

.page4_schedule{
    margin: 100px 0px;
}

.page4_schedule h4{
    text-align: left;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}

.loss_stolen h3, h5{
    margin-top: 15px;
    text-align: center;
}

.loss_stolen ul{
    margin-top: 35px;
    margin-left: 100px;
    width: 80%;
}

.loss_stolen li{
    margin-top: 15px;
    margin-left: 50px;
    width: 80%;
}

table.page4_phone{
    margin-left: auto;
    margin-right: auto;
}

table.page4_phone tr td{
    background-color: rgb(216, 216, 216);
    padding: 20px 14px;
    cursor: pointer;
}

table.page4_phone tr td:hover{
    background-color: rgb(197, 197, 197);
}

em#signed_by{
    float: right;
    font-size: 12px;
    margin-right: 20px;
}

ul.page4_regulations{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h4.page4_regulqtions_h4{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 14px;
}

ul.page4_regulations li{
    margin: 15px 0px;

}

.page4_last_section{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.page4_last_section h4{
    text-align: center;
    margin-bottom: 20px;
}

.page4_last_section p{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.page4_last_section ul{
    margin-top: 50px;
}

.page4_last_section ul p{
    font-size: 16px;
    font-weight: 800;
    text-align: left;
}

.page4_last_section ul li{
    margin-top: 15px;
    margin-left: 150px;
}


/* css page 5 */

.fade_image_pageFive{
    margin-left: -2px;
    background-image: url("/images/fade_image_page5.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.page5_sport_diet{
    margin-top: 50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.page5_sport_diet h3{
    margin-bottom: 15px;
    text-align: center;
}

.page5_sport_stretch{
    text-align: center;
    margin-top: 80px;
}

.page5_sport_stretch a{
    text-decoration: none;
    color: white;
    background-color: darkblue;
    padding: 8px 12px;
    border-radius: 5px;
}

.page5_sport_stretch a:hover{
    background-color: rgb(144, 144, 255);
    transition: 0.3s;
}


/* css page 5 */

.fade_image_pageSeven{
    margin-left: -2px;
    background-image: url("/images/fade_image_page7.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px; 
}

.page7_question_form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

iframe#question_form{
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


/* css page 8 */

.fade_image_pageEight{
    margin-left: -2px;
    background-image: url("/images/fade_image_page8.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.page8_emergency_numbers{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.page8_emergency_numbers h3{
    text-align: center;
    margin-bottom: 50px;
}

.page8_emergency_numbers p{
    margin-bottom: 15px;
}


/* css page 9 */

.fade_image_pageNine{
    margin-left: -2px;
    background-image: url("/images/fade_image_page9.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.page9_contact h3{
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.page9_contact p{
    margin-left: 100px;
    margin-bottom: 5px;
}

.page9_map{
    margin-left: 100px;
    width: 70%;
    margin-top: 25px;
}

iframe#page9_map{
    margin: auto;
    width: 700px;
    height: 600px;
    border: 3px solid black;
    border-radius: 5px;
}

/* css page 10 */

.fade_image_pageTen{
    margin-left: -2px;
    background-image: url("/images/fade_image_page10.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.page10_safety{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.page10_safety h2{
    margin-bottom: 50px;
}

.page10_safety h4{
    margin-bottom: 25px;
}

.page10_window_safety{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.page10_window_safety h2{
    text-align: center;
    margin-bottom: 30px;
}

.page10_window_safety ul h5{
    text-align: left;
    margin-top: 55px;
    margin-bottom: 15px;
}

.page10_window_safety ul li{
    margin-left: 50px;
}

/* css page 11 */

.fade_image_pageEleven{
    margin-left: -2px;
    background-image: url("/images/fade_image_page11.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.page11_zoom{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.page11_zoom h2{
    text-align: center;
    margin-bottom: 50px;
}

iframe#zoom_powerpoint{
    width: 100%;
    height: 700px;
    border-radius: 5px;
}

.page11_volleybal{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.page11_volleybal h3{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 30px 15px;
    background-color: rgb(250, 214, 160);
}

.page11_volleybal_links{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.page11_volleybal_links a{
    padding: 30px 15px;
    background-color: rgb(127, 127, 250);
    text-decoration: none;
    color: white;
}

.page11_volleybal_links a:hover{
    background-color: rgb(155, 155, 255);
    text-decoration: none;
    color: white;
    transition: 0.4s;
}

/* css page 12 */

.fade_image_pageTwelve{
    margin-left: -2px;
    background-image: url("/images/fade_image_page12.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.page12_homeBase h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.page12_homeBase p{
    margin-left: 150px;
}

.page12_homeBase ul h4{
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.page12_homeBase ul li{
    margin-left: 200px;
}


/* responsiveness */


/* home page */

@media only screen and (max-width: 1800px) {
    .university_links{
        margin-top: 170px;
    }

    .three_options p{
        width: 80%;
    }

    .pop_up_overlay_content a{
        width: 80%;
    }
  }


@media only screen and (max-width: 1670px) {
    .university_links{
        margin-top: 190px;
        margin-left: 150px;
    }
}

@media only screen and (max-width: 1608px) {
    .header_links{
        margin-right: 15%;
        margin-left: 15%;
        width: 60%;
        text-align: center;
    }

    .quality_check_video{
        width: 70%;
    }

    .pop_up_menu_content a{
        width: 50%;
    }
}

@media only screen and (max-width: 1500px) {
    .quality_check_video{
        width: 80%;
    }

    .university_links{
        margin-top: 190px;
        margin-left: 200px;
    }
}

@media only screen and (max-width: 1400px) {
    .home_section_inside{
        width: 100%;
        height: 300px;
    }
}

@media only screen and (max-width: 1350px) {
    .header_links{
        margin-right: 15%;
        margin-left: 15%;
        width: 70%;
        text-align: center;
    }

    .university_links{
        margin-top: 190px;
        margin-left: 230px;
    }

    .quality_check_video{
        width: 100%;
    }

    .university_info_banner{
        height: 200px;
    }
}


@media only screen and (max-width: 1300px) {
    .pop_up_overlay_content a{
        text-decoration: none;
        color: black;
        width: 60%;
        font-size: 22px;
        padding: 10px 15px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: rgb(250, 250, 250);
    }    

    .pop_up_overlay{
        position: fixed;
        margin-left: 60px;
        margin-top: 95px;
        width: 100%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.9);
        text-align: left;
        z-index: -3;
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    
    .pop_up_overlay_content{
        position: relative;
        width: 100%;
        height: 90%;
        display: flex;
        margin-top: 20px;
        margin-left: 15%;
        margin-right: 5%;
        flex-direction: column;
        justify-content: center;
        overflow: scroll;
    }

    #last_link_pop_up{
        margin-bottom: 50px;
    }

    #first_link_overlay{
        margin-top: 80px;
    }
}


@media only screen and (max-width: 1280px) {
    .university_links{
        margin-top: 190px;
        margin-left: 250px;
    }
}

@media only screen and (max-width: 1200px) {
    .university_links{
        margin-top: 210px;
        margin-left: 270px;
    }

    .home_section_inside{
        width: 100%;
        height: 220px;
    }
}
